<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <input type="file" name="docfile" id="docfile">
    <br><br><br>
    <button type="submit">Submit</button>
</form>

<br><br><br>

<table border="1">
    <thead>
        <th>Baris1</th>
        <th>Baris2</th>
        <th>Baris3</th>
    </thead>
    <tbody>
        {% for display in data %}
            <tr>
                <td>{{ display.s1 }}</td>
                <td>{{ display.s2 }}</td>
                <td>{{ display.s3 }}</td>
            </tr>
        {% endfor %}
    <tbody>
</table>
